<section class="teams" style=" display: flex;  gap: 20px;">
    <% if (projects.length> 0) { %>
          <% projects.forEach(project=> { %>
            <div class="project-card" style="justify-content: flex-start;">
              <h2 class="project-title">Project Title: <%= project.title %>
              </h2>
              <!-- Project Status -->
              <p class="project-status <%= project.status === 'ongoing' ? 'status-ongoing' : 'status-finished' %>">
                <%= project.status %>
              </p>
      
              <!-- Team Members -->
              <div class="team-members">
                <h3>Team Members:</h3>
                <ul>
                  <% project.team.forEach(member=> { %>
                    <li style="list-style-type: none; background: #ededed;padding: 10px 5px;"> <i class="fa-solid fa-user" style="color: #377bf1;"></i> 
                      <%= member.email %> (<%= member.role %>)
                    </li>
                    <% }); %>
                </ul>
              </div>
              <div></div>
<div></div>
              </div>
      
            </div>
            <% }); %>
              <% } else { %>
                <p>No projects found. </p>
                <% } %>


</section>