<%- include('./layouts/head.ejs') %>
  <link rel="stylesheet" href="/CSS/dash-nav.css">
  <link rel="stylesheet" href="/CSS/sidebar.css">
  <link rel="stylesheet" href="/CSS/projectView.css">
  <link rel="stylesheet" href="/CSS/reports.css">
  <link rel="stylesheet" href="/CSS/support.css">
  </head>

  <body>

    <%- include('./dashboard/navbar.ejs') %>
      <main>
        <%- include('./dashboard/sidebar.ejs') %>
          <section class="main-content">

            <% if(path=='/dashboard' ) {%>
              <section class="projects">
                <%- include('./dashboard/projects.ejs') %>
              </section>
              <%- include('./dashboard/pagination.ejs') %>
                  <% } else if(path=='/dashboard/create' ) {%>
                    <%- include('./dashboard/newProject.ejs') %>

                      <% } else if(path=='/dashboard/projectId' ) {%>
                        <%- include('./dashboard/projectView.ejs') %>

                          <% } else if(path=='/dashboard/myProjects' ){ %>

                            <%} else if(path=='/dashboard/teams' ){%>
                              <%- include('./dashboard/teams.ejs') %>
                              <%- include('./dashboard/pagination.ejs') %>

                                <%} else if(path=='/dashboard/reports' ){%>
                                  <%- include('./dashboard/overallReport.ejs') %>
                                  <%} else if(path=='/dashboard/support'){%>
                                    <%- include('./dashboard/HelpAndSupport.ejs') %>
                                    <%}%>
          </section>
      </main>
  </body>

  </html>